ul > li{
    background: #f1f1f1;
    padding: 9px 18px;
    list-style-type: none;
    border-radius: 21px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
ul{
    width: 400px;
    padding:0px;
}
ul > li > span{
    float: right;
    padding-left: 10px;
    font-size: 20px !important;
}
input{
    background: #f1f1f1;
    padding: 9px 18px;
    list-style-type: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px solid #ccc;
    outline: none;
}
button{
    background: #f1f1f1;
    padding: 9px 18px;
    list-style-type: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:1px solid #ccc;
    margin-left: -10px;
    outline: none;
}